:root {
  --light-grey: rgb(77, 77, 77);
  --dark-grey: rgb(51, 51, 51);
  --orange: rgb(242, 163, 65);
  --white: rgb(212, 212, 212);
  --javascript-yellow: #f7df1e;
  --react-blue: #61dafb;
  --node-green: #689f63;

  --poiret-one: 'Poiret One', cursive;
  --h2-font-style: 'Teko', sans-serif;

  --h1-font-size: 1.7rem;
  --h2-font-size: 2rem;
  --li-lateral-font-size: 1.2rem;
  --curly-font-size: 14rem;

  --header-height: 150px;
  --header-img-height: 150px;

  --title-specialities-height: calc(100vh - var(--header-height));
  --title-specialities-margin-top: var(--header-height);


}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-grey);
  font-family: var(--poiret-one);
  color: var(--white);
}



/* ------------------HEADER--------------------- */
#my-name {
  height: 100%;
  padding-left: 5vh;
  display: flex;
  align-items: center;
}
h1 {
  font-size: var(--h1-font-size);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  background-color: rgb(51, 51, 51);
  color: rgb(204, 204, 204);
  border-bottom: 1px solid var(--orange);
  display: flex;
  justify-content: start;
  gap: 20px;
}

#header img {
  height: var(--header-img-height);
  border-radius: 50%;
  border: 2px solid var(--orange);
  position: fixed;
  top: 50%;
  left: 50%;
}

/* --------------------------Main--------------------- */
#main {
  width: 100%;
  justify-self: center;
}

#main #title-speciality {
  width: 100%;
  height: var(--title-specialities-height);
  margin-top: var(--title-specialities-margin-top);
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-items: center;
  font-size: var(--h2-font-size);
  font-family: var(--h2-font-style);
}

.title-container {
  position: relative;
  text-align: center;
  width: 40vw;
}

.curly-left, .curly-right {
  position: absolute;
  font-size: var(--curly-font-size);
  line-height: 100%;
  top: 0;
  height: 100%;
}

.curly-left {
  left: 0;
}

.curly-right {
  right: 0;
}

.icons-container {
  display: flex;
  justify-content: center;
}

.icons {
  font-size: 3rem;
  margin: 2vh;
}

.javascript {
  color: var(--javascript-yellow);
}

.react {
  color: var(--react-blue);
}

.node {
  color: var(--node-green);
}